@media screen and (max-width: 1024px) {
  .back-to-school .text h2 {
    display: block;
    width: max-content;
  }
}

@media screen and (max-width: 833px) {
  header nav ul.desktop-menu {
    display: none;
  }

  header nav .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 999999;
    height: 100%;
  }

  header nav .mobile-menu-button {
    position: relative;
    cursor: pointer;
    width: 1.5rem;
    height: 1.75rem;
    transition: 0.25s ease;
  }

  header nav .mobile-menu-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.4rem;
    width: 100%;
    height: 0.1rem;
    background-color: var(--white);
    transition: 0.25s ease;
  }

  header nav .mobile-menu-button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.4rem;
    width: 100%;
    height: 0.1rem;
    background-color: var(--white);
    transition: 0.25s ease;
  }

  header nav .mobile-menu.active .mobile-menu-button::after {
    top: 1rem;
    transform: rotateZ(-45deg);
  }

  header nav .mobile-menu.active .mobile-menu-button::before {
    bottom: 0.7rem;
    transform: rotateZ(45deg);
  }

  header nav .mobile-menu.active button {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  header nav .mobile-menu .mobile-menu-nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
    top: var(--header-height);
    left: 0;
    transform: translateY(-100vh);
    transition: 0.4s ease;
    background: #000;
    opacity: 0;
    visibility: 0;
    pointer-events: none;
  }

  header nav .mobile-menu.active .mobile-menu-nav {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
  }

  header nav .mobile-menu #mobile-header-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: max-content;
  }

  header nav .mobile-menu #mobile-header-logo img {
    width: 1.9rem;
    position: relative;
    top: 0.125rem;
  }

  header nav .mobile-menu button {
    background: none;
    border: 0;
    cursor: pointer;
    transition: 0.2s ease;
    opacity: 0.75;
  }

  header nav .mobile-menu button:hover {
    opacity: 1;
  }

  header nav .mobile-menu .mobile-menu-search {
    max-width: 60rem;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 1rem auto 2rem auto;
  }

  header nav .mobile-menu .mobile-menu-search i {
    color: #ccc;
    position: absolute;
    opacity: 0.8;
    font-size: 1.6rem;
    left: 1rem;
  }

  header nav .mobile-menu .mobile-menu-search input {
    width: 100%;
    color: #ccc;
    background: #1d1d1f;
    border-radius: 0.8rem;
    font-size: 1.8rem;
    border: 0;
    padding: 1rem 1rem 1rem 3.5rem;
  }

  header nav .mobile-menu .mobile-menu-search input::placeholder {
    color: #ddd;
  }

  header nav .mobile-menu .mobile-menu-divisor {
    height: 0.05rem;
    width: 100vw;
    background-color: var(--header-divisor-color);
  }

  header nav .mobile-menu .mobile-menu-nav-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-width: 60rem;
    margin: 0 auto;
    width: 100%;
    padding: 1rem 0;
  }

  header nav .mobile-menu .mobile-menu-nav-items li {
    border-bottom: 0.05rem solid var(--header-divisor-color);
    display: block;
    width: 100%;
    padding: 1.5rem 0;
  }

  header nav .mobile-menu .mobile-menu-nav-items li a {
    font-size: 1.7rem;
  }

  .back-to-school .text h2 {
    width: max-content;
  }

  .iphone-13 .text h2 {
    display: block;
    width: max-content;
  }

  .promos .iphone-13-promo .text h2 {
    font-size: 2.4rem;
  }

  .promos .iphone-13-promo .text h3 {
    font-size: 1.6rem;
  }

  .promos .iphone-13-promo .text .cta-links .cta-link a {
    display: block;
    width: max-content;
    font-size: 1.6rem;
  }

  .promos .carnival-promo .text h2 {
    font-size: 2.4rem;
  }

  .promos .carnival-promo .text h3 {
    font-size: 1.6rem;
  }

  .promos .carnival-promo .text .cta-links .cta-link:last-child {
    margin-left: 0;
  }

  .promos .carnival-promo .text .cta-links .cta-link a {
    display: block;
    width: max-content;
    font-size: 1.6rem;
  }

  .promos .come-to-iphone-promo .text h2 {
    font-size: 2.4rem;
    margin-bottom: 0.75rem;
  }

  .promos .come-to-iphone-promo .text .cta-links a {
    display: block;
    width: max-content;
    font-size: 1.6rem;
  }

  .promos .fitness-plus-promo .text h2 {
    font-size: 2.4rem;
    color: var(--black);
    letter-spacing: 0.05rem;
    width: max-content;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .promos .fitness-plus-promo .text h3 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--text);
    line-height: 1;
    letter-spacing: 0.05rem;
    min-width: max-content;
  }

  .promos .fitness-plus-promo .text .cta-links .cta-link a {
    display: block;
    width: max-content;
    font-size: 1.6rem;
  }

  .promos .air-pods-promo .text h2 {
    font-size: 2.4rem;
  }

  .promos .air-pods-promo .text h3 {
    font-size: 1.6rem;
  }

  .promos .air-pods-promo .text .cta-links .cta-link a {
    font-size: 1.6rem;
    max-width: max-content;
    display: block;
  }

  .promos .apple-tv-promo .text h2 {
    font-size: 2.4rem;
  }

  .promos .apple-tv-promo .text h3 {
    font-size: 1.6rem;
  }

  .promos .apple-tv-promo .text .cta-link a {
    font-size: 1.6rem;
    max-width: max-content;
    display: block;
  }

  footer {
    max-width: 95vw;
  }

  footer .foot-notes p {
    margin-bottom: 1.1rem;
  }

  footer .copy {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  footer .copy span:last-child {
    margin: 1.25rem 0;
  }

  footer .directory {
    display: none;
  }

  footer .mobile-directory {
    display: flex;
    flex-direction: column;
    max-width: 92.5vw;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.8rem;
  }

  footer .mobile-directory .directory-column {
    padding: 1rem 0;
    border-bottom: 1px solid var(--footer-divisor-color);
  }

  footer .mobile-directory .directory-column ul {
    list-style: none;
    padding-left: 2rem;
    max-height: 0;
    transition: 0.25s ease-out;
    opacity: 0;
    overflow: hidden;
  }

  footer .mobile-directory .directory-column input[type="checkbox"] {
    display: none;
  }

  footer
    .mobile-directory
    .directory-column
    input[type="checkbox"]:checked
    ~ ul {
    opacity: 1;
    max-height: 25rem;
    margin-top: 1rem;
  }

  footer .mobile-directory .directory-column label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: var(--footer-directory-title);
    opacity: 0.75;
    justify-content: space-between;
  }

  footer .mobile-directory .directory-column label i {
    transition: 0.2s ease;
  }

  footer
    .mobile-directory
    .directory-column
    input[type="checkbox"]:checked
    ~ label {
    opacity: 1;
  }

  footer
    .mobile-directory
    .directory-column
    input[type="checkbox"]:checked
    ~ label
    i {
    transform: rotateZ(45deg);
  }

  footer
    .mobile-directory
    .directory-column
    ul li {
    padding: .5rem 0;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 734px) {
  .promos {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .promos .iphone-13-promo .text h2 {
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
  }

  .promos .iphone-13-promo .text h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .promos .iphone-13-promo .text .cta-links .cta-link a {
    display: block;
    width: max-content;
    font-size: 1.9rem;
  }

  .promos .carnival-promo .text h2 {
    font-size: 4.8rem;
  }

  .promos .carnival-promo .text h3 {
    font-size: 2.4rem;
  }

  .promos .carnival-promo .text .cta-links .cta-link:last-child {
    margin-left: 0;
  }

  .promos .carnival-promo .text .cta-links .cta-link a {
    display: block;
    width: max-content;
    font-size: 2rem;
  }

  .promos .come-to-iphone-promo .text h2 {
    font-size: 4.8rem;
    margin-bottom: 1rem;
  }

  .promos .come-to-iphone-promo .text .cta-links a {
    display: block;
    width: max-content;
    font-size: 1.9rem;
  }

  .promos .fitness-plus-promo .text h2 {
    font-size: 4.8rem;
  }

  .promos .fitness-plus-promo .text h3 {
    font-size: 2.4rem;
  }

  .promos .fitness-plus-promo .text .cta-links .cta-link a {
    display: block;
    width: max-content;
    font-size: 2rem;
  }

  .promos .air-pods-promo .text h2 {
    font-size: 4.8rem;
  }

  .promos .air-pods-promo .text h3 {
    font-size: 2.4rem;
  }

  .promos .air-pods-promo .text .cta-links .cta-link a {
    font-size: 1.9rem;
    max-width: max-content;
    display: block;
  }

  .promos .apple-tv-promo .text h2 {
    font-size: 4.8rem;
  }

  .promos .apple-tv-promo .text h3 {
    font-size: 2.4rem;
  }

  .promos .apple-tv-promo .text .cta-link a {
    font-size: 1.9rem;
    max-width: max-content;
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .carnival .marquee-wrapper {
    display: none;
  }

  header nav .mobile-menu .mobile-menu-search {
    max-width: 92.5vw;
  }

  header nav .mobile-menu .mobile-menu-nav-items {
    max-width: 80vw;
  }

  .carnival .text h1 {
    font-size: 4rem;
    padding: 0 2rem;
  }

  .carnival .text h2 {
    font-size: 2.4rem;
    padding: 0 2rem;
  }

  .carnival .text .cta-links a {
    font-size: 1.8rem;
  }

  .carnival .text .cta-links i {
    font-size: 1.5rem;
  }

  .back-to-school {
    height: 62.5rem;
    position: relative;
  }

  .back-to-school .text span {
    margin-bottom: 1rem;
  }

  .back-to-school .text h2 {
    font-size: 3.6rem;
    line-height: 1.15;
    margin-bottom: 1rem;
  }

  .back-to-school .text .cta-links a {
    font-size: 1.8rem;
  }

  .promos .come-to-iphone-promo .text h2 {
    font-size: 3.6rem;
    margin-bottom: 1rem;
  }

  .promos .come-to-iphone-promo .text .cta-links a {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 550px) {
  .shop-online {
    padding: 0 1.5rem;
  }

  .promos .iphone-13-promo .text h2 {
    font-size: 3.6rem;
    letter-spacing: 0.1rem;
  }

  .promos .iphone-13-promo .text h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .promos .iphone-13-promo .text .cta-links .cta-link a {
    display: block;
    width: max-content;
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 512px) {
  .shop-online {
    margin-top: calc(var(--header-height) + 1rem);
  }
}

@media screen and (max-width: 480px) {
  .shop-online {
    padding: 0 1.5rem;
  }

  .back-to-school .text h2 {
    font-size: 2.4rem;
    padding: 0 2rem;
    margin-bottom: 0rem;
  }

  .back-to-school .text .cta-links a {
    display: block;
    width: max-content;
    font-size: 1.5rem;
  }

  .back-to-school .text .cta-links i {
    font-size: 1.3rem;
  }

  .iphone-13 .text .cta-links .cta-link {
    display: flex;
    align-items: center;
  }

  .iphone-13 .text .cta-links .cta-link a {
    display: block;
    width: max-content;
  }

  .iphone-13 .text .cta-links .cta-link i {
    margin-left: 0.4rem;
  }

  .promos .carnival-promo .text h2 {
    font-size: 4rem;
  }

  .promos .carnival-promo .text h3 {
    font-size: 2.1rem;
  }

  .promos .carnival-promo .text .cta-links .cta-link a {
    display: block;
    width: max-content;
    font-size: 1.8rem;
  }

  .promos .come-to-iphone-promo .text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .promos .come-to-iphone-promo .text .cta-links a {
    font-size: 1.7rem;
  }

  .promos .fitness-plus-promo .text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .promos .fitness-plus-promo .text .cta-links a {
    font-size: 1.7rem;
  }

  .promos .air-pods-promo .text h2 {
    font-size: 3.6rem;
  }

  .promos .air-pods-promo .text h3 {
    font-size: 2.4rem;
  }

  .promos .air-pods-promo .text .cta-links .cta-link a {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 430px) {
  .promos .iphone-13-promo .text h2 {
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
  }

  .promos .iphone-13-promo .text h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .promos .iphone-13-promo .text .cta-links .cta-link a {
    display: block;
    width: max-content;
    font-size: 1.6rem;
  }

  .promos .apple-tv-promo .text h2 {
    font-size: 3.4rem;
  }

  .promos .apple-tv-promo .text h3 {
    font-size: 1.8rem;
  }

  .promos .apple-tv-promo .text .cta-link a {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 390px) {
  .carnival .text h1 {
    font-size: 3rem;
  }

  .carnival .text h2 {
    font-size: 2.1rem;
  }

  .iphone-13 .text h2 {
    font-size: 3.2rem;
  }

  .iphone-13 .text h3 {
    font-size: 2.4rem;
  }

  .promos .carnival-promo .text h2 {
    font-size: 2.8rem;
    margin-bottom: 0.4rem;
  }

  .promos .carnival-promo .text h3 {
    font-size: 1.9rem;
    margin-bottom: 0.4rem;
  }

  .promos .carnival-promo .text .cta-links .cta-link a {
    font-size: 1.6rem;
  }

  .promos .come-to-iphone-promo .text h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .promos .come-to-iphone-promo .text .cta-links a {
    font-size: 1.8rem;
  }

  .promos .fitness-plus-promo .text h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }

  .promos .fitness-plus-promo .text h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .promos .fitness-plus-promo .text .cta-links .cta-link a {
    font-size: 1.55rem;
  }

  .promos .air-pods-promo .text h2 {
    font-size: 2.8rem;
  }

  .promos .air-pods-promo .text h3 {
    font-size: 2rem;
  }

  .promos .air-pods-promo .text .cta-links .cta-link a {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 369px) {
  .carnival .text h1 {
    font-size: 2.7rem;
  }

  .carnival .text h2 {
    font-size: 1.9rem;
  }

  .carnival .text .cta-links a {
    font-size: 1.6rem;
  }

  .promos .iphone-13-promo .text h2 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }

  .promos .iphone-13-promo .text h3 {
    font-size: 1.6rem;
    margin-bottom: 0.75rem;
  }

  .promos .iphone-13-promo .text .cta-links .cta-link a {
    display: block;
    width: max-content;
    font-size: 1.4rem;
  }

  .promos .fitness-plus-promo .text h2 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }

  .promos .fitness-plus-promo .text h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .back-to-school .text .cta-links a {
    font-size: 1.3rem;
  }
}
