/* RESET START */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

/* RESET END */

/* VARIABLES START  */

:root {
  --header-height: 4.4rem;

  --link-blue: #06c;
  --link-blue-light: #2997ff;

  --link-black: #424245;
  --text: #222;
  --footer-text: #6e6e73;
  --header-divisor-color: #6e6e6e;
  --footer-divisor-color: #d2d2d7;
  --footer-directory-title: #1d1d1f;
  --footer-directory-link: #424245;

  --white: #fff;
  --black: #000;

  --background: #fff;
  --header-background: #000000eb;
  --shop-online-background: #f5f5f7;
  --suggestions-hover-background: #f5f5f7;
  --footer-background: #f5f5f7;

  --carnival-marquee-animation: calc(var(--marquee-elements) * 3s);
  --carnival-card-width: 23.4rem;
  --carnival-card-wrapper-width: 27.4rem;
  --carnival-card-quantity: 5;
}

/* VARIABLES END  */

/* HTML CONFIG START */

html {
  font-size: 62.5%;
}

/* HTML CONFIG END */

/* DEFAULT STYLE CLASSES START */

a.link {
  text-decoration: none;
  color: var(--link-blue);
}

a.link-light {
  text-decoration: none;
  color: var(--link-blue-light);
}

a.link:hover {
  text-decoration: underline;
}

a.footer-link {
  text-decoration: none;
  color: var(--link-black);
}

a.footer-link:hover {
  text-decoration: underline;
}

/* DEFAULT STYLE CLASSES END */

/* BODY START */

body {
  background: var(--white);
}

/* BODY END */

/* HEADER START */

header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  padding: 0 2.2rem;
  top: 0;
  height: var(--header-height);
  background: var(--header-background);
}

header.black {
  background: var(--black);
}

header a {
  opacity: 0.75;
  transition: 0.2s ease;
  color: var(--white);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

header a:hover {
  opacity: 1;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 98rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

header nav ul.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

header nav ul button {
  background: none;
  border: 0;
  cursor: pointer;
  transition: 0.2s ease;
  opacity: 0.75;
}

header nav ul button:hover {
  opacity: 1;
}

header nav .dropdown {
  position: relative;
}

header nav .dropdown .dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
  top: 3.5rem;
  position: absolute;
  width: 30rem;
  opacity: 0;
  background: var(--white);
  border-radius: 1rem;
  border: 1px solid #cccccc;
  transition: 0.2s ease;
  padding: 2rem 2rem 0.5rem 2rem;
  pointer-events: none;
}

header nav .dropdown .dropdown-menu h3 {
  letter-spacing: 0.05rem;
  text-align: center;
  font-weight: 400;
  color: #6e6e73;
  padding: 1.3rem 0 3.8rem 0;
  font-size: 1.4rem;
}

header nav .dropdown .dropdown-menu .cart-links {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header nav .dropdown .dropdown-menu .cart-links .cart-link {
  border-top: 1px solid #d2d2d7;
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header nav .dropdown .dropdown-menu .cart-links .cart-link span {
  color: #06c;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
}

header nav .dropdown .dropdown-menu .cart-links .cart-link:hover span {
  text-decoration: underline;
}

header nav .dropdown .dropdown-menu .cart-links .cart-link i {
  color: #06c;
  font-size: 1.5rem;
  margin-right: 1rem;
}

header nav .dropdown.active .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
}

header nav .search-section {
  opacity: 0;
  visibility: hidden;
  max-width: 65rem;
  width: 100%;
  margin: 0 auto;
  transition: 0.2s ease;
  pointer-events: none;
  display: flex;
  align-items: center;
  position: absolute;
}

header nav .search-section.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

header nav .search-section .search-suggestions {
  position: absolute;
  left: 0;
  top: calc(100% + 0.125rem);
  background: #fff;
  z-index: 100;
  border-radius: 0 0 1.6rem 1.6rem;
  padding: 1rem;
  width: 100%;
}

header nav .search-section .search-suggestions .quick-links-text {
  color: #6e6e73;
  font-size: 1.2rem;
  margin-left: 2.5rem;
  letter-spacing: 0.05rem;
  display: block;
  margin-top: 1.2rem;
  margin-bottom: 0.75rem;
}

header nav .search-section .search-suggestions .quick-links {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

header nav .search-section .search-suggestions .quick-links a {
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  padding-left: 2.5rem;
  color: #1d1d1f;
}

header nav .search-section .search-suggestions .quick-links a:hover {
  color: var(--link-blue);
  background: var(--suggestions-hover-background);
}

header nav .search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .search-section .search-input-wrapper {
  display: flex;
  align-items: center;
}

header nav .search-section i {
  font-size: 1.6rem;
  color: #ccc;
  opacity: 0.5;
  margin-right: 1.5rem;
}

header nav .search-section input {
  height: 100%;
  border: 0;
  width: 100%;
  background-color: transparent;
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
  outline: none;
  color: #ccc;
}

header nav .search-section input::placeholder {
  color: #ccc;
}

header nav .search-section button {
  border: 0;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ccc;
  background: 0;
  opacity: 0.5;
  position: relative;
  right: -2rem;
  transition: 0.2s ease;
}

header nav .search-section button i {
  font-size: 2.2rem;
}

header nav .search-section button:hover {
  opacity: 1;
}

header nav .mobile-menu {
  display: none;
}

/* HEADER END */

/* SHOP ONLINE START */

.shop-online {
  margin-top: var(--header-height);
  background: var(--shop-online-background);
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05rem;
  color: #222;
  height: var(--header-height);
  font-size: 1.4rem;
}

/* SHOP ONLINE END */

/* CARNIVAL SECTION END */

.carnival {
  display: flex;
  flex-direction: column;
}

.carnival .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5.5rem 0;
}

.carnival .text h1 {
  color: var(--text);
  font-weight: 600;
  font-size: 5.6rem;
  line-height: 1;
}

.carnival .text h2 {
  margin-top: 1.5rem;
  font-weight: 400;
  color: var(--text);
  font-size: 2.8rem;
  line-height: 1;
}

.carnival .text .cta-links {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.carnival .text .cta-links a {
  font-size: 2.1rem;
}

.carnival .text .cta-links i {
  margin-left: 0.5rem;
  font-size: 2.1rem;
  color: var(--link-blue);
  transform: rotateZ(45deg);
}

.carnival .marquee-wrapper {
  overflow: hidden;
  max-width: 100vw;
  overflow-x: hidden;
  margin-bottom: 6rem;
}

.carnival .marquee-wrapper .marquee-carnival {
  display: flex;
  align-items: center;
  animation: scrolling var(--carnival-marquee-animation) linear infinite;
}

.carnival .marquee-wrapper .marquee-carnival .marquee-card-wrapper {
  min-width: var(--carnival-card-wrapper-width);
  display: flex;
  justify-content: center;
}

.carnival .marquee-wrapper .marquee-carnival .marquee-card {
  cursor: pointer;

  transition: 0.4s ease;

  position: relative;

  width: var(--carnival-card-width);
}

.carnival .marquee-wrapper .marquee-carnival .marquee-card .marquee-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: 0.4s ease;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;

  border-radius: 8px;
}

.carnival
  .marquee-wrapper
  .marquee-carnival
  .marquee-card:hover
  .marquee-overlay {
  opacity: 1;
}

.carnival
  .marquee-wrapper
  .marquee-carnival
  .marquee-card
  .marquee-overlay
  .listen-now {
  border-radius: 50rem;
  padding: 1rem 1.5rem;

  background: var(--white);

  color: var(--black);
  font-size: 1.6rem;
  font-weight: 500;

  display: flex;
  align-items: center;
}

.carnival
  .marquee-wrapper
  .marquee-carnival
  .marquee-card
  .marquee-overlay
  .listen-now
  i {
  color: var(--black);
  font-size: 1.6rem;
  margin-left: 0.6rem;
}

.carnival .marquee-wrapper .marquee-carnival .marquee-card img {
  border-radius: 8px;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--carnival-card-width) * var(--carnival-card-quantity))
    );
  }
}

/* CARNIVAL SECTION END */

/* BACK TO SCHOOL START */

.back-to-school {
  height: 62.5rem;
  position: relative;
}

.back-to-school .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.back-to-school .text span {
  color: #bf4800;
  font-size: 1.8rem;
  white-space: nowrap;
  font-weight: 500;
  margin: 0.8rem 0;
  line-height: 1;
  letter-spacing: 0.011em;
}

.back-to-school .text h2 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1;
  color: var(--text);
}

.back-to-school .text .cta-links {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.back-to-school .text .cta-links a {
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: 0.012em;
  text-align: center;
}

.back-to-school .text .cta-links i {
  font-size: 1.2rem;
  color: var(--link-blue);
  margin-left: 0.4rem;
}

.back-to-school .image {
  background: linear-gradient(to right, #fee5e9, #ddcae0);
}

.back-to-school .image img {
  width: 100%;
  height: 61.7rem;
  object-fit: cover;
}

/* BACK TO SCHOOL END */

/* IPHONE 13 START */

.iphone-13 {
  height: 62.5rem;
  position: relative;
}

.iphone-13 .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.iphone-13 .text h2 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.002em;
  color: var(--text);
  margin-bottom: 1rem;
}

.iphone-13 .text h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1;
  letter-spacing: 0.009em;
  color: var(--text);
}

.iphone-13 .text .cta-links {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 5rem;
}

.iphone-13 .text .cta-links a {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.012em;
  text-align: center;
}

.iphone-13 .text .cta-links i {
  font-size: 1.2rem;
  color: var(--link-blue);
  margin-left: 0rem;
}

.iphone-13 .image {
  background: #fbfbfd;
}

.iphone-13 .image img {
  width: 100%;
  height: 61.7rem;
  object-fit: cover;
}

/* IPHONE 13 END */

/* PROMOS END */

main {
  max-width: 100vw;
}

.promos {
  max-width: 100vw;
  padding: 1.2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.promos .iphone-13-promo {
  position: relative;
}

.promos .iphone-13-promo .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.promos .iphone-13-promo .text h2 {
  font-size: 4rem;
  color: var(--white);
  letter-spacing: 0.05rem;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1rem;
}

.promos .iphone-13-promo .text h3 {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #fec2eb;
  line-height: 1;
  letter-spacing: 0.05rem;
  min-width: max-content;
}

.promos .iphone-13-promo .text .cta-links {
  display: flex;
  align-items: center;
}

.promos .iphone-13-promo .text .cta-links .cta-link {
  display: flex;
  align-items: center;
}

.promos .iphone-13-promo .text .cta-links .cta-link:last-child {
  margin-left: 3.2rem;
}

.promos .iphone-13-promo .text .cta-links .cta-link a {
  font-size: 1.9rem;
}

.promos .iphone-13-promo .text .cta-links .cta-link i {
  color: #2997ff;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

.promos .iphone-13-promo .image img {
  width: 100%;
  height: 100%;
}

.promos .carnival-promo {
  position: relative;
}

.promos .carnival-promo .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.promos .carnival-promo .text h2 {
  font-size: 4rem;
  color: var(--text);
  letter-spacing: 0.05rem;
  width: max-content;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.promos .carnival-promo .text h3 {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--text);
  line-height: 1;
  letter-spacing: 0.05rem;
  min-width: max-content;
}

.promos .carnival-promo .text .cta-links {
  display: flex;
  align-items: center;
}

.promos .carnival-promo .text .cta-links .cta-link {
  display: flex;
  align-items: center;
}

.promos .carnival-promo .text .cta-links .cta-link:last-child {
  margin-left: 3.2rem;
}

.promos .carnival-promo .text .cta-links .cta-link a {
  font-size: 1.9rem;
}

.promos .carnival-promo .text .cta-links .cta-link i {
  color: #2997ff;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

.promos .carnival-promo .image img {
  width: 100%;
  height: 100%;
}

.promos .come-to-iphone-promo {
  position: relative;
}

.promos .come-to-iphone-promo .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.promos .come-to-iphone-promo .text h2 {
  font-size: 4rem;
  color: var(--text);
  letter-spacing: 0.05rem;
  width: max-content;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.promos .come-to-iphone-promo .text .cta-links {
  display: flex;
  align-items: center;
}

.promos .come-to-iphone-promo .text .cta-links {
  display: flex;
  align-items: center;
}

.promos .come-to-iphone-promo .text .cta-links a {
  font-size: 1.9rem;
}

.promos .come-to-iphone-promo .text .cta-links i {
  color: #2997ff;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

.promos .come-to-iphone-promo .image img {
  width: 100%;
  height: 100%;
}

.promos .fitness-plus-promo {
  position: relative;
}

.promos .fitness-plus-promo .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.promos .fitness-plus-promo .text h2 {
  font-size: 4rem;
  color: var(--black);
  letter-spacing: 0.05rem;
  width: max-content;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1rem;
}

.promos .fitness-plus-promo .text h3 {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--text);
  line-height: 1;
  letter-spacing: 0.05rem;
  min-width: max-content;
}

.promos .fitness-plus-promo .text .cta-links {
  display: flex;
  align-items: center;
}

.promos .fitness-plus-promo .text .cta-links .cta-link {
  display: flex;
  align-items: center;
}

.promos .fitness-plus-promo .text .cta-links .cta-link:last-child {
  margin-left: 3.2rem;
}

.promos .fitness-plus-promo .text .cta-links .cta-link a {
  font-size: 1.9rem;
}

.promos .fitness-plus-promo .text .cta-links .cta-link i {
  color: #2997ff;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

.promos .fitness-plus-promo .image img {
  width: 100%;
  height: 100%;
}

.promos .air-pods-promo {
  position: relative;
}

.promos .air-pods-promo .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 7.5%;
  transform: translateX(-50%);
}

.promos .air-pods-promo .text h2 {
  font-size: 4rem;
  color: var(--text);
  letter-spacing: 0.05rem;
  width: max-content;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1rem;
}

.promos .air-pods-promo .text h3 {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--text);
  line-height: 1;
  letter-spacing: 0.05rem;
  min-width: max-content;
}

.promos .air-pods-promo .text .cta-links {
  display: flex;
  align-items: center;
}

.promos .air-pods-promo .text .cta-links .cta-link {
  display: flex;
  align-items: center;
}

.promos .air-pods-promo .text .cta-links .cta-link:last-child {
  margin-left: 3.2rem;
}

.promos .air-pods-promo .text .cta-links .cta-link a {
  font-size: 1.9rem;
}

.promos .air-pods-promo .text .cta-links .cta-link i {
  color: #2997ff;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

.promos .air-pods-promo .image img {
  width: 100%;
  height: 100%;
}

.promos .apple-tv-promo {
  position: relative;
}

.promos .apple-tv-promo .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.promos .apple-tv-promo .text img {
  margin-bottom: 1.5rem;
}

.promos .apple-tv-promo .text h2 {
  font-size: 4rem;
  color: var(--white);
  letter-spacing: 0.05rem;
  width: max-content;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.promos .apple-tv-promo .text h3 {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--white);
  line-height: 1;
  letter-spacing: 0.05rem;
  min-width: max-content;
}

.promos .apple-tv-promo .text .cta-links {
  display: flex;
  align-items: center;
}

.promos .apple-tv-promo .text .cta-links .cta-link {
  display: flex;
  align-items: center;
}

.promos .apple-tv-promo .text .cta-links .cta-link:last-child {
  margin-left: 3.2rem;
}

.promos .apple-tv-promo .text .cta-link a {
  font-size: 1.8rem;
  color: var(--white);
  letter-spacing: 0.05rem;
}

.promos .apple-tv-promo .text .cta-link i {
  color: var(--white);
  font-size: 1.5rem;
  margin-left: 0.6rem;
}

.promos .apple-tv-promo .image img {
  width: 100%;
  height: 100%;
}

/* PROMOS END */

/* FOOTER START */

.footer-wrapper {
  width: 100%;
  background: var(--footer-background);
  padding-top: 1.6rem;
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 98rem;
  font-size: 1.2rem;
  margin: 0 auto;
}

footer .foot-notes p {
  color: var(--footer-text);
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  line-height: 1.3;
  margin-bottom: 0.8rem;
}

footer .foot-notes p:last-child {
  margin-bottom: 0rem;
}

footer .footer p {
  font-size: 1.2rem;
  color: var(--footer-text);
  letter-spacing: 0.07rem;
  line-height: 1.3;
}

footer .footer-divisor {
  width: 100%;
  height: 1px;
  margin: 0.8rem 0;
  background: var(--footer-divisor-color);
}

footer .footer-divisor.margin-large {
  margin: 1.6rem 0;
}

footer .directory {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 2rem 0;
}

footer .mobile-directory {
  display: none;
}

footer .directory .directory-column {
  display: flex;
  flex-direction: column;
}

footer .directory .directory-column .directory-title {
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
  line-height: 1.3;
  color: var(--footer-directory-title);
  margin-bottom: 0.8rem;
}

footer .directory .directory-column .directory-title.with-margin-top {
  margin-top: 1.3rem;
  margin-bottom: 0.8rem;
}

footer .directory .directory-column .directory-list {
  display: flex;
  list-style: none;
  flex-direction: column;
}

footer .directory .directory-column .directory-list .directory-item {
  margin-bottom: 0.8rem;
}

footer .directory .directory-column .directory-list .directory-item a {
  font-weight: 300;
  letter-spacing: 0.07rem;
  font-size: 1.2rem;
  display: block;
  max-width: 12.5rem;
  line-height: 1.3;
  color: var(--footer-directory-link);
}

footer .copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--footer-text);
  margin-bottom: 0.8rem;
  letter-spacing: 0.04rem;
}

footer .legal-links {
  display: flex;
  align-items: center;
  max-width: 90vw;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
}

footer .legal-links .legal-link-divisor {
  height: 1.6rem;
  width: 1px;
  margin: 0 1rem;
  background: var(--footer-divisor-color);
}

footer .legal-links a {
  letter-spacing: 0.08rem;
  white-space: nowrap;
}

/* FOOTER END */

/* SEARCH OVERLAY START */

.search-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  pointer-events: none;
}

.search-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* SEARCH OVERLAY END */
